<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvas">
  <div class="offcanvas-header">
    {{form.titulo}}
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <form class="form-horizontal" id="form-editar-tarea" data-task-id="">
      <div class="row mb-3">
        <div class="col">{{form.descripcion}}</div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-3 col-form-label">Responsable</label>
        <div class="col-9">{{form.user}}</div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-3 col-form-label">Creacion</label>
        <div class="col-9">
          <input type="date" readonly class="form-control-plaintext" id="creacion" />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-3 col-form-label">Vencimiento</label>
        <div class="col-9">{{form.vencimiento}}</div>
      </div>
      <div class="row mb-3">
        <label for="prioridad" class="col-3 col-form-label">Prioridad</label>
        <div class="col-9">
          <select class="form-select" name="prioridad" id="id_prioridad_edit">
            <option value="low">Estable</option>
            <option value="medium">Urgente</option>
            <option value="high">Muy Urgente</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="duracion" class="col-3 col-form-label">Tiempo estimado</label>
        <div class="col-9">{{form.duracion}}</div>
      </div>
      <div class="row mb-3">
        <label for="tiempo-registrado-display" class="col-3 col-form-label">Tiempo registrado</label>
        <div class="col-9">
            <p id="tiempo-registrado-display" class="form-control-plaintext fw-bold mb-0">00:00</p>
        </div>
      </div>
    </form>
    <div class="mt-auto border-top pt-3">
      <button class="btn btn-primary" id="btnIniciarKanban">Iniciar actividad</button>
    </div>
  </div>
</div>
