{% load static %}
<div class="leftside-menu">
  <!-- Brand Logo Light -->
  <a href="{% url "index" %}" class="logo logo-light">
    <span class="logo-lg">
      <img src="{% static 'images/logo.png'%}" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="{% static 'images/logo-sm.png'%}" alt="small logo" />
    </span>
  </a>

  <!-- Brand Logo Dark -->
  <a href="{% url "index" %}" class="logo logo-dark">
    <span class="logo-lg">
      <img src="{% static 'images/logo-dark.png'%}" alt="dark logo" />
    </span>
    <span class="logo-sm">
      <img src="{% static 'images/logo-dark-sm.png'%}" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <div
    class="button-sm-hover"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    title="Show Full Sidebar"
  >
    <i class="ri-checkbox-blank-circle-line align-middle"></i>
  </div>

  <!-- Full Sidebar Menu Close Button -->
  <div class="button-close-fullsidebar">
    <i class="ri-close-fill align-middle"></i>
  </div>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!-- Leftbar User -->
    <div class="leftbar-user">
      <a href="pages-profile.html">
        <img
          src="{% static 'images/avatar-1.svg'%}"
          alt="user-image"
          height="42"
          class="rounded-circle shadow-sm"
        />
        <span class="leftbar-user-name mt-2">{{user}}</span>
      </a>
    </div>
    <div class="help-box text-white text-center" style="margin: 10px;">
      <h5>Año de la Automatización 2025</h5>
      <p>Trimestre de la Reestructuración</p>
    </div>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a href="{% url 'index' %}" class="side-nav-link">
          <i class="uil-clock"></i>
          <span> Inicio </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'calendario' %}" class="side-nav-link">
          <i class="uil-calender "></i>
          <span> Calendario </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'gastos' %}" class="side-nav-link">
          <i class=" ri-coins-fill"></i>
          <span>Gastos</span>
          <span id="rejected_expenses" class="badge bg-danger" style="display: none;">0</span> 
        </a>
      </li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarAgenda"
          aria-expanded="false"
          aria-controls="sidebarAgenda"
          class="side-nav-link"
        >
          <i class="uil-meeting-board"></i>
          <span class="badge bg-secondary float-end" id="badge-agenda" style="display: none;">0</span>
          <span> Agenda </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarAgenda">
          <ul class="side-nav-second-level">
            {% if user.is_superuser %}
            <li>
              <a href="{% url "tarea_lista" %}">Tareas</a>
            </li>
            {% endif %}
            <li>
              <a href="{%url 'tarea_kanban'%}">Procesos del día</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-title">Analizar</li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarDashboard"
          aria-expanded="false"
          aria-controls="sidebarDashboard"
          class="side-nav-link"
        >
          <i class="uil-dashboard"></i>
          <span> Dashboard </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarDashboard">
          <ul class="side-nav-second-level">
            {% if user.is_superuser %}
            <li>
              <a href="{%url 'dashboard_gastos'%}">Gastos</a>
            </li>
            {% endif %}
            <li>
              <a href="{%url 'dashboard_proyectos'%}">Proyectos</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarInformes"
          aria-expanded="false"
          aria-controls="sidebarInformes"
          class="side-nav-link"
        >
          <i class="uil-graph-bar"></i>
          <span> Informes </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarInformes">
          <ul class="side-nav-second-level">
            <li>
              <a href="{%url 'resumen'%}">Resumen</a>
            </li>
            <li>
              <a href="{%url 'detallado'%}">Detallado</a>
            </li>
            {% if user.is_superuser %}
            <li>
              <a href="{%url 'informes_gastos'%}">Gastos</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarEmail"
          aria-expanded="false"
          aria-controls="sidebarEmail"
          class="side-nav-link"
        >
          <i class="uil-map-marker"></i>
          <span> Ubicaciones </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEmail">
          <ul class="side-nav-second-level">
            <li>
              <a href="{%url 'mapa'%}">Mapa</a>
          </ul>
        </div>
      </li>
      <li class="side-nav-title">Gestionar</li>
      <li class="side-nav-item">
        <a href="{% url 'proyectos' %}" class="side-nav-link">
          <i class="uil-file-alt"></i>
          <span> Proyectos </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'expedientes' %}" class="side-nav-link">
          <i class="uil-receipt-alt"></i>
          <span>Expedientes</span>
        </a>
      </li>
      {% if user.is_superuser %}
      <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="#sidebarFinanzas"  aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
          <i class="uil-usd-circle "></i>
          <span id="pending-expenses" class="badge bg-warning">0</span>
          <span> Finanzas </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarFinanzas">
          <ul class="side-nav-second-level">
            <li>
              <a href="{%url 'aprobaciones'%}">Aprobaciones</a>
            </li>
            <li>
              <a href="{%url 'ingresos'%}">Ingresos</a>
            </li>
            <li>
              <a href="{%url 'sueldo'%}">Sueldos</a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      <li class="side-nav-item">
        {% if user.is_superuser %}
        <a href="{% url 'equipo' %}" class="side-nav-link">
        {% else %}
        <a href="{% url 'equipo_user' %}" class="side-nav-link">
        {% endif %}
          <i class="uil-users-alt"></i>
          <span> Equipo </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'cotizaciones' %}" class="side-nav-link">
          <i class="uil-bill"></i>
          <span> Cotizaciones </span>
        </a>
      </li>
      {% if user.is_superuser %}
      <li class="side-nav-item">
          <a data-bs-toggle="collapse" href="#sidebarPostulantes" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
              <i class="uil-envelope"></i>
              <span> Postulantes </span>
              <span class="menu-arrow"></span>
          </a>
          <div class="collapse" id="sidebarPostulantes">
              <ul class="side-nav-second-level">
                  <li>
                      <a href="{% url "postulantes" %}">Postulantes</a>
                  </li>
              </ul>
          </div>
          
      </li>
      
      {% endif %}
      <li class="side-nav-title">Complementos</li>
      <li class="side-nav-item">
        <a href="{% url 'ayuda' %}" class="side-nav-link">
          <i class="uil-question-circle"></i>
          <span> Ayuda </span>
        </a>
      </li>
    </ul>

    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
<script>
  // Esta función obtiene el número de gastos pendientes desde el servidor
function getPendingExpenses() {
  fetch("{% url 'get_pending_expenses' %}", {  // Reemplaza con la URL correcta
      method: "GET",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"  // Asegúrate de incluir el token CSRF si estás utilizando Django
      }
  })
  .then(response => response.json())
  .then(data => {
      // Verifica si se obtuvo el número de gastos pendientes correctamente
      if (data.pending_expenses !== undefined) {
          const badge = document.getElementById("pending-expenses");
          badge.textContent = data.pending_expenses;  // Actualiza el número
          if (data.pending_expenses > 0) {
              badge.style.display = 'inline-block';  // Muestra el círculo solo si hay gastos pendientes
          } else {
              badge.style.display = 'none';  // Oculta el círculo si no hay gastos pendientes
          }
      }
  })
  .catch(() => {
    // No hacer nada o manejar el error silenciosamente
  });
}
function getRejectedExpenses() {
  fetch("{% url 'get_rejected_expenses' %}", {  // Asegúrate de que esta URL sea la correcta
      method: "GET",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"  // Incluye el token CSRF si lo estás utilizando
      }
  })
  .then(response => response.json())
  .then(data => {
      // Verifica si se obtuvo el número de reportes rechazados correctamente
      if (data.rejected_expenses_with_messages !== undefined) {
          const badge = document.getElementById("rejected_expenses"); // Asegúrate de que el id sea correcto
          badge.textContent = data.rejected_expenses_with_messages;  // Actualiza el número

          // Muestra u oculta el círculo según el número de reportes rechazados
          if (data.rejected_expenses_with_messages > 0) {
              badge.style.display = 'inline-block';  // Muestra el círculo si hay reportes rechazados
          } else {
              badge.style.display = 'none';  // Oculta el círculo si no hay reportes rechazados
          }
      }
  })
  .catch(() => {
    // Maneja el error si es necesario
  });
}


window.onload = function() {
  getPendingExpenses();  // Cargar gastos pendientes
  getRejectedExpenses();  // Cargar gastos rechazados
};

</script>